<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #00ABE4;">
    <a class="navbar-brand" href="/comics">
        <img src="\img\bang_soundeffect.svg" alt="Brand Image" height="40" width="40">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-white" href="/comics">Comics</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            Genres
          </a>
          <div class="dropdown-menu" style="background-color: #00ABE4;">
            <a class="dropdown-item text-white" href="/comics/genre/superhero">Superhero</a>
            <a class="dropdown-item text-white" href="/comics/genre/manga">Manga</a>
            <a class="dropdown-item text-white" href="/comics/genre/humor">Humor</a>
            <a class="dropdown-item text-white" href="/comics/genre/slice-of-life">Slice-of-Life</a>
            <a class="dropdown-item text-white" href="/comics/genre/sci-fi">Sci-fi</a>
            <a class="dropdown-item text-white" href="/comics/genre/fantasy">Fantasy</a>
            <a class="dropdown-item text-white" href="/comics/genre/horror">Horror</a>
            <a class="dropdown-item text-white" href="/comics/genre/action">Action</a>
            <a class="dropdown-item text-white" href="/comics/genre/nonfiction">Nonfiction</a>
          </div>
        </li>

        <% if(user) { %>
          <li class="nav-item">
            <a class="nav-link" style="color: #ffffff;" href="/comics/new">Add Comic</a>
          </li>
        <% } %>
        
        <% if(user) { %>
            <li class="nav-item">
              <a class="nav-link" style="color: #ffffff;" href="/logout">Log Out</a>
            </li>
        <% } else { %>
            <li class="nav-item">
              <a class="nav-link" style="color: #ffffff;" href="/login">Log In</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" style="color: #ffffff;" href="/signup">Sign Up</a>
            </li>
        <% } %>
      </ul>
      <form class="form-inline my-2 my-lg-0" action="/comics/search" method="GET">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" name="term" aria-label="Search">
        <button class="btn btn-success my-2 my-sm-0 text-white" type="submit">Search</button>
      </form>
    </div>
</nav>

<div class="container mt-2">
  <% if(successMessage && successMessage.length > 0) { %>
    <div class="alert alert-success fade show" role="alert">
      <%= successMessage %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% } %>
  
  <% if(errorMessage && errorMessage.length > 0) { %>
    <div class="alert alert-warning fade show" role="alert">
      <%= errorMessage %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% } %>
</div>