<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
<div class="landing-page">
    <h1>
        Final Project
    </h1>
    <a href="/comics">
        <button>Get Started</button>
    </a>
</div>