.card {
    border: 1px solid #ddd;
    border-radius: 1rem;
    width: 30%;
}

.card-img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

.card-title {
    text-align: center;
    font-family: 'Red Rose', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;   
}

.card-text {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6; /* Increased for better readability */
    text-align: justify; /* Aligns the text evenly across the width */
    margin: 10px 0; /* Add some vertical spacing if needed */
}


.show-image-container img {
    width: 80%;
}

/* .landing-page {
    /* padding: 310px; */
    /* margin: 0; */
    /* background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%; */

/* } */ 

html, body {
    height: 100%;
    margin: 0;
    background-color: #E9F1FA;
    /* #00ABE4;  */
}

.landing-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #00ABE4;
    padding: 100px 160px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    max-width: 100%;
    margin: 10px;
}


h1 {
    margin-bottom: 20px;
    font-size: 3.2rem; /* Adjust size as needed */
}

a button {
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: green; /* Button background color */
    color: white;
    border: none;
    border-radius: 10px;
}

a button:hover {
    color: black;
    background-color: lightgreen; /* Hover effect for button */
}
